<!-- Top Banner Popup -->
<div class="top-banner success-banner" *ngIf="successMessage">
  <span>{{ successMessage }}</span>
  <button class="close-btn" (click)="successMessage = ''">Close</button>
</div>

<div class="top-banner error-banner" *ngIf="errorMessage">
  <span>{{ errorMessage }}</span>
  <button class="close-btn" (click)="errorMessage = ''">Close</button>
</div>

<div class="auth-container">
  <div class="auth-box forgot-box">
    <div class="lock-icon-container">
      <div class="lock-circle">
        <span class="material-icons-outlined">lock</span>
      </div>
    </div>

    <div>
      <h2>Forgot Password?</h2>
      <p class="desc-text">
        Enter your email address and we'll send you a otp to reset your password.
      </p>

      <form (ngSubmit)="sendReset()" #forgotForm="ngForm">
        <div class="input-group">
          <input 
            type="email" 
            name="email" 
            placeholder="Email*" 
            [(ngModel)]="email" 
            required
            [pattern]="EMAIL_PATTERN"
            #emailInput="ngModel"
          />
          <div class="error-msg" *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
            <span *ngIf="emailInput.errors?.['required']">Email is required</span>
            <span *ngIf="emailInput.errors?.['pattern']">Enter a valid email address</span>
          </div>
        </div>



        <button type="submit" class="btn-primary">Send Reset OTP</button>
      </form>
    </div>

    <div class="forgot-footer">
      <a routerLink="/login" class="back-link">Back to Login</a>
    </div>
  </div>
</div>
